/* navigation */
.container {
  max-width: 700px;
  margin: 5rem auto;
  backdrop-filter: blur(10px);
  padding: 1rem;
  text-align: center;
}

.clr-yellow {
  color: yellow;
}

.link {
  text-decoration: none;
  padding: 1rem;
  color: white;
}

input[type="number"] {
  font-size: 1rem;
  margin: 1rem;
  padding: .6rem 1rem;
  border-radius: .5rem;
  border: 3px solid yellow;
}

.submit-btn {
  display: block;
  margin: 1rem auto;
  font-size: 1.15rem;
  padding: 1rem;
  background-color: royalblue;
  color: white;
  border: 1px solid white;
  border-radius: .25rem;
  cursor: pointer;
}

.question {
  color: yellow;
  font-size: 1.5rem;
}

.question-container {
  margin: 1rem auto;
}

.options {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: lighter;

}